body		{	background-color: #494443;
				background-image: url(img/background.jpg);}

header		{	background-color: #686260;
				color: #000000;
				text-align: center;}
				
h1			{	text-align: center;}

h2			{	text-align: center;}

main		{	padding: 10 px;}

footer		{	background-color: #686260;
				text-align: center;}

#groupphoto	{	text-align: center;}

#logo		{	width: 100%;}
				
#wrapper	{	box-shadow: 5px 5px 5px #828282;
				width: 95%;
				margin-left: auto;
				margin-right: auto;
				background-color: #494443;}

ul			{	margin: 0;
				padding: 0;}
				
li 			{	list-style-type: none;}

nav			{	text-align: center;}

#nav		{	display: table;
				table-layout: fixed;
				text-align: center;}
				
#nav li 		{	display: table-cell;
				width: 10%;
				padding-right: 1px;
				height: auto;
				vertical-align: bottom;}
				
#nav a		{	display: block;
				min-height: 100%;
				padding: 4px 10px;
				background-color: #222;
				color: white;
				border-radius: 0 0 6px 6px;}

#head		{	width: 50%;
				margin-left: auto;
				margin-right: auto;}
				
#body		{	width: 50%;
				margin-left: auto;
				margin-right: auto;}

@media only screen and (max-width: 1000px) {
	body		{	margin: 0;
					background-image: none;}
	
	#wrapper	{	width: auto;
					min-width: 0;
					margin: 0;
					box-shadow: none;}
					
	header		{	background-position: center;
					background-repeat: no-repeat;
					height: 80px;}
	
	nav			{	float: none;
					width: auto;
					padding-top: 0;
					margin-top: 0;}
					
	nav li		{	display: inline-block;}
	
	nav a		{	padding: 1em;
					font-size: 1.3em;
					width: 8em;
					font-weight: bold;
					border-style: none;}
					
	nav ul		{	padding: 0;
					margin: 0;}
					
	main		{	padding: 2em;
					margin: 0;
					font-size: 90%;}
}

@media only screen and (max-width: 800px) {
	nav			{	float: none;
					width: auto;
					padding-top: 0;
					margin-top: 0;}

	nav a		{	padding: 0.2em;
					font-size: 1.3em;
					width: auto;
					font-weight: bold;
					border-bottom: #330000 1px solid;
					display: block;}

	nav li		{	display: block;}
	
	h2			{	padding-top: 0.5em;
					padding-right: 0;
					padding-bottom: 0;
					padding-left: 0.5em;
					margin-right: 0.5em;}
	
	.details	{	padding-left: 0;
					padding-right: 0;}
					
	.floatright	{	display: none;}
	
	.floatleft	{	padding-left: 0.5em;
					padding-right: 0.5em;}
					
	#mobile		{	display: inline;}

	#desktop	{	display: none;}
}